@font-face {
  font-family: "Gilroy ExtraBold";
  font-weight: normal;
  font-style: normal;
  src: local("Gilroy ExtraBold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff2") format("woff"),
       url("../fonts/gilroyextrabold.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy Light";
  font-weight: normal;
  font-style: normal;
  src: local("Gilroy Light"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff2") format("woff"),
       url("../fonts/Gilroylight.ttf") format("ttf");
}




body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-sefif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
  background-color: #fff;

  background: url(../img/device-index.jpg) no-repeat top center;
}

.page {
  background: url(../img/device-catalog.jpg) no-repeat top center;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header,
.page-header {
  margin-top: 40px;
  background-color: #f7e296;

  background-color: rgba(255, 0, 0, 0.3);
}

.header-logo {
  position: relative;
    top: -18px;
    left: 60px;
  width: 163px;
  height: 34px;
  margin-bottom: 10px;
  font-size: 0;
  background: url(../img/logo-device.png) no-repeat;
}

.header-link {
  display: flex;
  margin-bottom: 35px;
}

.header-link .search {
  width: 440px;
  margin-left: 60px;
  margin-right: 100px;

  background-color: rgba(0, 255, 0, 0.3);
}


.header-link .user-block {
  display: flex;
  width: 500px;
  padding: 0;
  margin: 0;
  margin-right: 60px;
  list-style: none;

  background-color: rgba(0, 255, 0, 0.3);
}

.user-block li {

  background-color: rgba(0, 255, 0, 0.5);
}

.user-block li:nth-child(1) {
  width: 260px;
  margin-right: 20px;
}

.user-block li:nth-child(2) {
  width: 100px;
  margin-right: 20px;
}

.user-block li:nth-child(3) {
  width: 100px;
  text-align: right;
}

.main-menu {
  display: flex;
  padding-bottom: 160px;
}

.menu-catalog {

  background-color: rgba(0, 255, 0, 0.3);
}

.menu-catalog a {
  display: block;
  width: 300px;
  margin-left: 60px;
  margin-right: 240px;

  background-color: rgba(0, 255, 0, 0.5);
}


.catalog-link {
  display: none;
  width: 1160px;
  padding: 26px 0;
  margin: 0;
  z-index: 100;

  background-color: rgba(0, 255, 0, 0.3);
}

.catalog-link ul {
  width: 180px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  list-style: none;
}

.catalog-link a {
  display: inline-block;
  width: auto;
  margin: 0;
  font-family: "Open Sans", Arial, sans-sefif;
   font-size: 15px;
   line-height: 36px;
   font-weight: 300;
   color: #464646;
  text-decoration: none;
  background-color: rgba(0, 255, 0, 0.5);

}

.catalog-link ul:nth-child(1)  {
  width: 200px;
  margin-left: 60px;
}

.menu-catalog a:hover ~ .catalog-link {
  position: absolute;
  display: flex;
}

.menu-services {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 255, 0, 0.3);
}

.menu-services li {

  background-color: rgba(0, 255, 0, 0.5);
}


.menu-services li:nth-child(1) {
  width: 140px;
  margin-right: 20px;
}

.menu-services li:nth-child(2) {
  width: 140px;
  margin-right: 20px;
}

.menu-services li:nth-child(3) {
  width: 180px;
  text-align: right;
}

.page-header .main-menu {
  padding-bottom: 48px;
}




 /*_______________slider_______________ */

.slider {
  position: relative;
  height: 430px;
  margin-bottom: 51px;

  /*background-color: rgba(0, 255, 0, 0.3);*/
}

.slider-inner {
  position: relative;
  top: -110px;
  width: 1160px;
  height: 540px;
  overflow: hidden;
  background-color: rgba(0, 255, 0, 0.3);

}

.slider-item {
  display: none;
}

.slider input {
  display: none;
}

.slider-control {
  display: flex;
  position: absolute;
   top: 217px;
   right: 0;
  width: 160px;
  height: 10px;
  z-index: 10;

  background-color: rgba(0, 255, 0, 0.3);
}

.slider-control label {
  display: flex;
  width: 4px;
  height: 4px;
  margin-right: 23px;
  border: 3px solid #d0d0d0;
  border-radius: 50%;
  cursor: pointer;
}

.slider-image {
  width: 560px;
  margin-right: 40px;
  text-align: center;
}

.slider-text {
  width: 500px;
}

.features {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.features li {
  min-width: 140px;
  margin-left: 20px;
}

.feature-value {
  font-family: "Gilroy Light";
    font-size: 36px;
    line-height: normal;
    letter-spacing: 0.01em;
}

.feature-info {
  font-family: "Open Sans", Arial, sans-sefif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.01em;
}

#slider-btn-1:checked ~ .slider-control label[for="slider-btn-1"],
#slider-btn-2:checked ~ .slider-control label[for="slider-btn-2"],
#slider-btn-3:checked ~ .slider-control label[for="slider-btn-3"] {
  border: 3px solid #000;
}

#slider-btn-1:checked ~ .slider-inner .slider-item:nth-child(1),
#slider-btn-2:checked ~ .slider-inner .slider-item:nth-child(2),
#slider-btn-3:checked ~ .slider-inner .slider-item:nth-child(3) {
  display: flex;
}



/*___________popular______________*/

.popular {
  display: flex;
  margin-bottom: 169px;
}

.popular a {
  margin-right: 40px;
  text-decoration: none;
  color: #000;

}

.popular img {
  width: 160px;
  height: 160px;
  margin-bottom: 8px;
  /*background-color: #f7e296;*/
  background-color: rgba(0, 255, 0, 0.3);
}

.popular h3 {
  font-family: "Gilroy ExtraBold";
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
}


/*_______________services-slider_____________*/

.services {
  position: relative;
  height: 288px;
  background-color: #e5e5e5;
  margin-bottom: 94px;

  background-color: rgba(0, 255, 0, 0.3);
}

.services .container {
  display: flex;
  align-items: flex-start;

}


.services-inner {
  position: relative;
    top: -20px;
  overflow: hidden;
  width: 460px;
  height: auto;
  background-color: rgba(0, 255, 0, 0.3);
}

.services-item {
  display: none;
}

.services input {
  display: none;
}

.services-control {
  position: relative;
    top: -100px;
  width: 277px;
  margin-right: 118px;
  padding-top: 80px;
  padding-bottom: 45px;

  border-right: 7px solid red;
  z-index: 10;

  background-color: rgba(0, 255, 0, 0.3);

}

.services-control label {
  position: relative;
  display: block;
  width: 160px;
  padding: 10px 0;
  margin-bottom: 25px;

  font-family: "Gilroy ExtraBold";
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2em;
  color: #000;
  text-align: center;


  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;

  background-color: rgba(255, 0, 0, 0.3);
}

.services-control label::after {
  content: "";
  position: absolute;
    top: 16px;
    right: 0;
    left: 0;
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
  transition: 0.2s;
}

.services-control label:hover::after {
  top: 0px;
  height: 40px;
  background-color: #f0c52e;
}

#services-btn-1:checked ~ .services-control label[for="services-btn-1"] ,
#services-btn-2:checked ~ .services-control label[for="services-btn-2"] ,
#services-btn-3:checked ~ .services-control label[for="services-btn-3"] {
  color: #f7e184;
}

#services-btn-1:checked ~ .services-control label[for="services-btn-1"]::after ,
#services-btn-2:checked ~ .services-control label[for="services-btn-2"]::after ,
#services-btn-3:checked ~ .services-control label[for="services-btn-3"]::after  {
  position: absolute;
    top: 0;
  width: 277px;
  height: 40px;
  background-color: #000;
}

#services-btn-1:checked ~ .services-inner .services-item:nth-child(1),
#services-btn-2:checked ~ .services-inner .services-item:nth-child(2),
#services-btn-3:checked ~ .services-inner .services-item:nth-child(3) {
  display: block;
}


/*_________________clients________________________*/

.clients {
  display: flex;
  margin-bottom: 78px;
  font-size: 0;
}

.clients a {
  width: 260px;
  margin-right: 40px;
}


/*_____________main-content__________________________*/

.main-content {
  display: flex;
  margin-bottom: 80px;
}

.content-left {
  width: 480px;
  margin-right: 120px;

  background-color: rgba(0, 255, 0, 0.3);
}

.content-right {
  width: 560px;

  background-color: rgba(0, 255, 0, 0.3);
}



/*_________________main-footer________________________*/

.main-footer {
  margin-top: 60px;
  padding: 60px 0;
  color: #fff;
  background-color: #464646;
}

.main-footer a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.main-footer .container {
  display: flex;
}

.footer-right {
  width: 360px;

  background-color: rgba(0, 255, 0, 0.3);
}

.footer-center {
  width: 440px;
  align-self: flex-end;

  background-color: rgba(255, 0, 0, 0.3);
}

.footer-menu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu li {
  margin-right: 35px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-menu a {
  font-family: "Gilroy ExtraBold";
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-left {
  width: 360px;
  text-align: right;

  background-color: rgba(0, 255, 0, 0.3);
}

.footer-link {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link li {
  margin-left: 35px;
}



/*____________________________________________________________*/
/*______________внутренняя страница________________________*/

.page-title {
  margin-top: 37px;
  margin-bottom: 45px;
  margin-left: 60px;
}

.page-title h1 {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Gilroy ExtraBold";
    font-size: 47px;
    line-height: 49px;
    letter-spacing: 0.01em;

  color: rgba(0, 255, 0, 0.5);
}

.page-title .breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-page {
  display: flex;
}

.main-page .sidebar {
  width: 330px;

}

.main-page .product {

}

.product-wrapper {
  display: flex;
    flex-wrap: wrap;
  margin: 60px;
}
